body {
    background-color: black;
    color: white;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

main {
    margin-left: 38px;
    margin-right: 38px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    
}

nav a  {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center;
}

.nil a:hover {
    background-color: black;
    cursor: default;
}

nav a:hover {
    background-color: rgb(71, 71, 71);
}

.l1 {
    float: left;
}

.l2 {
    float: left;
    border-top: 1px rgb(56, 53, 53) solid;
    border-bottom: 1px rgb(56, 53, 53) solid;
}

.search {
    float: right;
}

input {
    width: 280px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding-left: 10px;
}

h2 {
    border-left: 3px blue solid;
    padding-left: 10px;
}

ul li {
    margin: 0px;
}

i {
    position:absolute; 
    right: 17px; 
    top:29%; 
    transform:translateY(-50%); 
    color:#888;
}

i:hover {
    cursor: pointer;
}

img {
    width: 190px;
    height: 290px;
    margin-bottom: 0px;
}

img:hover {
    opacity: 0.6;

}

.box {
    /* border: 3px white solid; */
    width: 190px;
    height: 350px;
}

p {
    margin-top: 5px;
    margin-bottom: 4px;
    margin-left: 15px;
}

.box a {
    text-decoration: none;
    color: white;
}

.box a:hover {
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sub {
    color: yellow;
    border-left: none;
    text-align: center;
    border-top: 1px rgb(56, 53, 53) solid;
    padding-top: 20px;
    margin-bottom: 50px;
}

.shift {
    float: right;
    cursor: pointer;
    font-size: 30px;
}

.small {
    font-size: 12px;
}

.mum {
    margin-right: 7px;
}

button {
    border: none;
    background-color: rgb(20, 71, 255);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(14, 43, 146);
}

.digo {
    float: right;
    font-size: 12px;
}